body {
    background-image: url(https://cdn.wallpaperdirect.com/asset/img/product/209730/tiled/albany-distinctive-rustic-brick-silver-wallpaper-tiled-209730.jpg);
    background-attachment: fixed;
    background-size: cover;
    object-fit: contain;
  }
  
  h1 {
    font-size: 100px;
    color: rgb(231, 194, 29);
  }
  
  h2 {
    color: rgb(231, 194, 29);
    font-size: 50px;
  }
  
  h3 {
    margin-left: 20px;
    font-size: 35px;
  }
  
  h5 {
    color: rgb(231, 194, 29);
    margin-left: 30px;
  }
  
  label {
    font-size: 20px;
    font-weight: 400;
  }
  
  p {
    font-size: 40px;
    color: #ffc107;
  }
  
  i {
    font-size: 20px;
  }
  
  a {
    color: white;
  }
  
  a:hover {
    color: #ffffff;
  }
  
  nav {
    margin-bottom: 0;
  }
  
  .top-nav {
    margin-bottom: 30px;
  }
  .navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
  }
  
  .navbar-light .navbar-brand:hover {
    color: white;
  }
  
  .navbar-light .navbar-brand:hover {
    color: #ffc107;
  }
  
  .navbar-light a {
    text-decoration: none;
  }
  
  form {
    color: rgb(231, 194, 29);
  }
  
  i.far.fa-id-card {
    font-size: 30px;
  }
  
  .fa-thumbtack {
    font-size: 25px;
  }
  
  .card {
    background-color: rgba(128, 128, 128, 0.767);
    border-radius: 0.25rem;
    border-color: #ffc107;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  
  li {
    box-shadow: 10px 10px 20px #000000;
  }
  
  .fa-user {
    font-size: 100px;
    margin: 40px;
  }
  
  .fa-bug {
    font-size: 60px;
  }
  
  .fa-mobile-alt {
    font-size: 27px;
  }
  
  .fa-marker {
    color: #ffc107;
  }
  
  .not-found {
    display: flex;
    justify-items: center !important;
    font-size: 80px;
    padding: 30px;
  }
  
  .btn-dark:hover {
    box-shadow: 1px 1px 1px #ffc107;
    border-color: #ffc107;
  }
  .btn-warning:hover {
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
  }
  
  .bloc-img {
    width: 270px;
    height: auto;
  }
  
  .form-control:focus {
    box-shadow: 2px 2px 10px #000000;
    border-color: #000000;
  }